# Virtual environment
venv/
env/
.Venv/
.VENV/
pip-selfcheck.json

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
*.env
config.py  # If it contains sensitive information

# Database files
*.sqlite3
*.db

# Logs and debugging
*.log
logs/
debug.log

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# MacOS and Linux system files
.DS_Store
Thumbs.db

# Docker-related files (if using Docker)
docker-compose.override.yml

# Pytest and Coverage reports
htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml



instance/
migrations/